$black: #000;
$white: #ffff;


$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,800&display=swap');
$font: 'Poppins', sans-serif;

$transition: .35s ease-in-out;