@media screen and (min-width: $xs) {
    nav{
        background: black;
        div{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: $white;
                        opacity: .8;
                    }
                }
            }
        }
    }
    .lg-img{
        img{
            width: 32px;
        }
    }
}
@media screen and (min-width: $sm) {
    nav{
        background: transparent;       
    }
    .lg-img{
        img{
            width: 24px;
        }
    }
}
@media screen and (min-width: $md) {
}
@media screen and (min-width: $lg) {
}
@media screen and (min-width: $xl) {
}