//flic
.flickity-viewport {
    width: 100%;
}

.flickity-prev-next-button {
    top: calc(100% + 10px);
    background: none!important;
    svg {
        fill: #596477;
        &:focus {
            fill: #CC8E6A;
            background: none;
            outline: none;
            box-shadow: none;
        }
        &:active {
            fill: #CC8E6A;
            background: none;
            outline: none;
            box-shadow: none;
        }
    }
}

.flickity-prev-next-button.next {
    top: calc(100% - 5px);
    right: auto;
    left: 50px;
}

body {
    font-family: $font;
    color: $grey;
    background: $black;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin: 16px 0 32px 0;
    line-height: 32px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

hr {
    border: 1px dashed #95A2BB;
}

//NAVS PILLS
#pills-tab {
    .nav-item {
        margin: 32px 0 24px 0;
        .nav-link {
            background: none;
            font-size: 24px;
            line-height: 24px;
            color: #5F6777;
            padding: 0px 20px 0px 0px;
        }
        &:last-child {
            padding: 0px;
            margin-left: -8px;
        }
        .active {
            font-weight: bold;
            color: $ouro;
            text-decoration: underline;
        }
    }
}

.tab-content {
    min-height: 280px;
}

#works {
    .work-img {
        width: 100%;
        height: 216px;
        background: #58606E;
        margin: 16px 0;
    }
}

#repository {
    margin-bottom: 24px;
    #carouselExampleControls {
        padding: 0 15px;
        margin-top: 32px;
    }
}

.btn-secondary {
    display: none;
    background: none;
    border: none;
    color: #596477;
    font-weight: bold;
    margin-bottom: 32px;
    &:active,
    &:focus,
    &:hover {
        color: $ouro;
        background-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
        outline: none;
    }
}

.avatar {
    float: right;
    margin: 15px -15px 15px 32px;
}

footer {
    margin-top: 16px;
    background: #191B22;
    height: 16px;
    width: 100%;
}

a {
    color: $grey;
    &:hover {
        color: #CC8E6A;
    }
}

.zoom {
    overflow: hidden;
    height: 128px;
    width: 128px;
    float: right;
}

.zoom img {
    max-width: 100%;
    transition: all 1s;
    margin-top: 0px;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    &:hover {
        margin-top: 50px;
        -moz-transform: scale(4);
        -webkit-transform: scale(4);
        transform: scale(4);
    }
}